body{
margin:0px;
text-align: center;
font-family: 'Merriweather', serif;

}

h1{
position: relative;
  margin: 150px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;

}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  margin-top: 5px;
  color: #66BFBF;
  font-weight: bold;

}
h3{
  font-family: 'Montserrat', sans-serif;
    color: #11999E;
    line-height: 3;

}
hr{
  margin: 30px auto;
  width:5%;
  color: #eaf6f6;
  border-style: dotted none none;
  height: 0px;
  border-width: 8px;

}
p{
  color: #40514E;
  line-height: 2;

}
a{
  line-height: 10;
  text-decoration: none;
  margin-right: 30px;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;

}
a:hover{
  color: #eaf6f6;
}
.pro{
  text-decoration: underline;
}
.top-container{
 background-color: #E4f9f6;
 position: relative;
 padding-top: 10px;
 text-align: center;

}
.middle-container{
  line-height: 2;
  color: #11999E;
}
.bottom-container{
  text-align: center;
}

.bottom-cloud{
  position: absolute;
  left: 350px;
  top: 390px;
}

.top-cloud{
  position: absolute;
  top: 70px;
  right:300px;
}

.profile-img{
  border-radius: 100%;
  width: 15%;
  margin-top: 100px;

}
.img-skill-1{
border-radius:100%;
width: 25%;
float: left;
margin-right: 30px;


}
.img-skill-2{
border-radius:100%;
width: 25%;
float: right;
margin-left:30px;


}

.profile{
  text-align: center;
}
.skill-row{
  width: 50%;
  /*text-align: center;*/
  margin: 100px auto 100px auto;
  line-height: 2;
  text-align: left;

}

.foorter-link{
  color: #11999E;
}
.Header{
  line-height: 2;
}
.coffee{
  color:
    #11999E;
}
.contact-me{
  line-height: 3;
  margin-left: 30%;
  margin-right: 30%;
}
.btn{
  color: rgb(230, 227, 230);
  font-size: 19px;
  padding: 13px;
  text-shadow: 0px -1px 0px rgba(30, 30, 30, 1);
  -webkit-border-radius: 8.108108108108109px;
  -moz-border-radius: 8.108108108108109px;
  border-radius: 8.108108108108109px;
  background: rgb(64, 175, 179);
  background: -moz-linear-gradient(90deg, rgb(64, 175, 179) 29%, rgb(44, 186, 227) 77%);
  background: -webkit-linear-gradient(90deg, rgb(64, 175, 179) 29%, rgb(44, 186, 227) 77%);
  background: -o-linear-gradient(90deg, rgb(64, 175, 179) 29%, rgb(44, 186, 227) 77%);
  background: -ms-linear-gradient(90deg, rgb(64, 175, 179) 29%, rgb(44, 186, 227) 77%);
  background: linear-gradient(0deg, rgb(64, 175, 179) 29%, rgb(44, 186, 227) 77%);
  -webkit-box-shadow: -1px 9px 12px rgba(76, 177, 147, 0.24);
  -moz-box-shadow:    -1px 9px 12px rgba(76, 177, 147, 0.24);
  box-shadow:         -1px 9px 12px rgba(76, 177, 147, 0.24);


  text-decoration: none;
  font-family: 'Montserrat', sans-serif;

}
.foot{
  margin-top: 50px;
  background-color: #66bfbf;
  padding-top:  50px;
  padding-bottom: 70px;
  line-height: 3;

}

.copyright{
  color: white;
  font-size: 0.6rem;
}
